@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(0, 0, 0);
}

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
    color: rgb(220, 190, 25);
}

/* main page positioning */

.main-positioning {
    clear: both;
    display: block;
    text-align: center;
    padding: 0.3rem;
    margin: 0rem 0.5rem;

}

/* font sizing */

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

/* headings and logo */

header {
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Ms Madi', cursive;
}

.logo {
    font-family: 'Ms Madi', cursive;
    font-weight: 300;
    font-size: 60px;
    color: rgb(220, 190, 25);
    float: left;
    padding-top: 10px;
    margin: 0rem 0.5rem;
}

.logo a {
    text-decoration: none;
}

.logo:hover {
    color: red;
}


/* navigation links */

#nav-menu {
    font-family: /*'Anton', sans-serif*/ 'Ms Madi', cursive;
    font-weight: 300;
    color: rgb(220, 190, 25);  
    font-size: 30px;  
    list-style-type: none;
    float: right; 
    padding-top: 25px;
    margin: 0rem 0.5rem;   
}

#nav-menu a {
    text-decoration: none;
    margin-right: 10px;
}

#nav-menu li {
    display:inline-block;
    color: rgb(220, 190, 25);      
}

a, a:visited {
    color: inherit;
  }


a:hover {
    color: red;
}







/* hero image section */

#hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;      
}


@keyframes hero-zoom {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

#hero-image {
    /*background: url("../images/hero-image.jpeg") no-repeat center center;*/
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}





/* who are we */

#who-are-we {    
    height: 600px;
    width: 100%;
    clear:both;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border: 5px rgb(220, 190, 25) solid;
}


#waw-text-container {
    display: inline-block;
    vertical-align: middle;
    clear: both;
    width: 45%;
    height:fit-content;
    border: 3px solid rgb(220, 190, 25);
}

#waw-text{
    text-align: center;
    vertical-align: middle;
}

#waw-image-container {
    clear: both;
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    border: 3px solid rgb(220, 190, 25);
}

#waw-image{
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: auto;
    border-radius: 50%;
}

/* the experience */

.the-experience {
    height: 600px;
    width: 100%;
    clear:both;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border: 5px rgb(220, 190, 25) solid;
}

.experience-container-left {
    display: inline-block;
    vertical-align: middle;
    clear: both;
    width: 45%;
    height:fit-content;
    border: 3px solid rgb(220, 190, 25);
}

.experience-text-left{
    text-align: center;
    vertical-align: middle;
}

.experience-container-right {
    clear: both;
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    border: 3px solid rgb(220, 190, 25);
}

#w#experience-image-right{
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: auto;
    border-radius: 50%;
}

/* come visit us */

#visit-us {
    clear: both;
    height: 600px;
    width: 100%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
}



/* footer */

footer {
    height: 150px;
    width: 100%;
    text-align: center;
    top: 50;
}

#footer-left {
    display: inline-block;
    width: 32%;
}

#footer-left > a {
    text-decoration: none;
}

#footer-center {
    display: inline-block;
    width: 32%;
}

#footer-right {
    display: inline-block;
    width: 32%;
    right: 5px;
}

#footer-right > p {
    right: 5px;
}

.footer-socials {
    list-style-type: none;
    font-size: 250%;
    font-family: 'Ms Madi', cursive;
    font-weight: 300;
    color: rgb(220, 190, 25);
    right: 5px;
}



