@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(0, 0, 0);
}

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
    color: rgb(220, 190, 25);
}

/* font sizing */

/* headings and logo */

h1, h2 {
    font-family: 'Ms Madi', cursive;
}

#logo {
    font-family: 'Ms Madi', cursive;
    font-weight: 300;
    font-size: 60px;
    color: rgb(220, 190, 25);
    float: left;
    padding-top: 10px;
}

#logo a {
    text-decoration: none;
}

#logo:hover {
    color: red;
}



/* navigation links */

#nav-menu {
    font-family: /*'Anton', sans-serif*/ 'Ms Madi', cursive;
    font-weight: 300;
    color: rgb(220, 190, 25);  
    font-size: 30px;  
    list-style-type: none;
    float: right; 
    padding-top: 25px;   
}

#nav-menu a {
    text-decoration: none;
    margin-right: 10px;
}

#nav-menu li {
    display:inline-block;
    color: rgb(220, 190, 25);      
}

a, a:visited {
    color: inherit;
  }


a:hover {
    color: red;
}

header {
    box-sizing: border-box;
}





/* hero image section */

#hero-section {
    height:600px;
    width:100%;
    overflow:hidden;
    position: relative;      
}


@keyframes hero-zoom {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }
}

.hero-image {
    /*background: url("../images/hero-image.jpeg") no-repeat center center;
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;*/

    object-fit: fill;
}





/* who are we */

#who-are-we {
    height: 600px;
    width: 100%;
    border: solid;
    border-color:rgb(220, 190, 25);
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

/* the experience */

#the-experience {
    height: 600px;
    width: 100%;
    border: solid;
    border-color:rgb(220, 190, 25);
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

/* come visit us */

#visit-us {
    height: 600px;
    width: 100%;
    border: solid;
    border-color:rgb(220, 190, 25);
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}


/* footer */

footer {
    height: 200px;
    width: 100%;
    border: solid;
    border-color:rgb(220, 190, 25);
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}
